.home_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: fit-content;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  background-color: #e4d5d2;
}

.welcome_message{
  text-align: left;
  text-wrap: wrap;
  width:60%;
  padding: 20px;
  border-right: #371818 1px solid;
}

p{font-size: 30px;}

.login_buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  width:40%;
}

button{
  border: #371818;
  border-radius: 10px;
  background-color: #873b3b;
  color: white;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 10em;
}
