<div class="home_page">
  <div class="welcome_message">
    <h2>Welcome to the Student Management System.</h2>
    <p>Please sign in if you are not registered.</p>
  </div>
  <div class="login_buttons">
    <button type="button" routerLink="register" btnHighlight>Register</button>
    <button type = "button" routerLink="login" btnHighlight>Student Login</button> <!-- Display student details -->
    <button type = "button" routerLink="login" btnHighlight>Admin Login</button> <!-- Display admin details -->
  </div>
</div>

