.myfooter{
  background: #371818;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  height: max-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

p{
  margin: 2em;
}
